@CHARSET "UTF-8";

/* start : classified_ad FULL VIEW */
div.main-classified-image
{
    display:inline;
    float: left;
    margin: 10px 20px 10px 0px;	
}

div.horizontal-separator
{
    background-image: url(../images/classified-ad/sep-bg.gif);
    background-position: top left;
    background-repeat: repeat-x;
    padding: 8px 0 8px 0;
    margin-top:15px;
}

div.classified-metadata
{
	margin-bottom:10px;
}

div.classified-description
{
	margin-top:17px;
}
	
p.soft-navigation
{
	float:right;
}
/* stop : classified_ad FULL VIEW */